.header {
    background-color: #3b5998;
    width: 850px;
    height: 400px;
    margin: 0 auto;
    position: relative;
}
#photo {
    position: relative;
    background-color: #3b5998;
    width: 200px;
    height: 200px;
    margin-left: 30px;
    top: 225px;
    border: 1px solid black;
}
#buttons {
position: absolute;
bottom: 10px;
right: 0;
border: 2px solid black;
width: 200px;
display: inline-block;
font-size: 20px;
}

#text {
position: absolute;
left: 250px;
top: 300px;
}

#body{
    display: flex;
    justify-content: center;
}

#left{
width: 328px;
height: 120px;
background-color: pink;
margin-right: 10px;
border: 2px solid black;
}

#right{
    width: 512px;
    height: 120px;
    background-color: pink;
    border: 2px solid black;
}